*{
    background-color: black;
    width: 100px;
    height: 100px;
 }

 h1 {
   color :wheat
 }
 header {
    display:grid
    ()
 }

 header {
   width: 4000px;
   height: 4000px;

 }
 #logo  {
  width: 50vw;
display: flex; 
margin-left: 50vh;
 }