@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Danfo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* esto es codigo css fuerta de bootstrap*/
* {
  background-color: rgb(0, 0, 0);
  padding: 0px;
  font-family: marriwear;
  color: white;
  font-size: 20px;
}


#logo { 
  width: 60vh;
text-align: center;

}

#texto1{
  display:flexbox;
  justify-content:flex-start;
  text-align:right;
}

.boton {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  border: solid 3px ;width: 150px;
  margin:15px;
  text-align: center;

}

#mayer1 {
 
  display:flexbox;
  width: 100vh;
  text-align: center;
}

#p1 {
font-size:larger;
margin-top: 20px;
}

#roja {
  width: 50vh;
}
 
